{% include 'components/header.twig' with {"__variables":"template"} %}
{% include 'components/offer_services.twig' %}
{% include 'components/amenities.twig' with {"__scope":amenities} %}
<div class='row'>
    {% if __root.page_text != "" %}
        <div class='col xs-8 xs-l-2'>
            {{ __root.page_text | raw }}
        </div>
    {% endif %}
</div>
<div class='row'>
    {% if __root.page_text_2 != "" %}
        <div class='col xs-8 xs-l-2'>
            <div class='base-text'>
                {{ __root.page_text_2 | raw }}
            </div>
        </div>
    {% endif %}
</div>
{% include 'components/footer.twig' with {"__scope":footer} %}
