{% include 'components/header.twig' with {"__variables":"template"} %}
{% include 'components/offer_services.twig' %}

{% if tables is defined %}
    <div class='row'>
        <div class='col xs-10 xs-l-1 xs-center'>
            <div class='tables'>
                {% for table in tables %}
                    {% include 'components/table.twig' with {"__scope": table} %}
                {% endfor %}
            </div>
        </div>
    </div>   
{% endif %}

<div class='row'>
    <div class='col xs-10 xs-l-1 xs-center'>
        <span class='article'>
            
                {% include 'utils/image.twig' with {
                    '__scope': {
                        "base": "/images/",
                        "file": "endosphere-article.png"
                    },
                    '__style': "width: 600px;"
                } %}
            
                <p style='text-align: center;'>
                    <b>
                        Эндосфера терапия (Endospheres Therapy) — потрясающий эффект при коррекции фигуры.
                    </b>
                </p>
                <p style='text-align: center;'>
                    <b>
                        Процедуры для тела и для лица без каких-либо побочных эффектов — 100% гарантия! Без использования инъекций.
                    </b>
                </p>
                <p>
                    Наш салон красоты предлагает вам возможность проведения процедур с использованием новой версии аппарата Endospheres Therapy Sensor All. Это специальный сенсорный датчик давления, встроенный в интерактивную манипулу. Он способен с максимально высокой точностью определить стадию целлюлита, а также провести лечение с индивидуальным подходом к каждому пациенту.
                </p>
                <p>
                    «Эндосфера терапия» — это принципиально новая методика борьбы с целлюлитом, основанная на применении современной микровибрационо-компрессионной технологии. С помощью нее достигается высокий эффект по модулированию тела, снижению веса, а также улучшению общего кровообращения в организме.
                </p>
            

                <h2>
                    Эндосфера: процедуры для тела
                </h2>

                <p>
                    «Эндосфера терапия» является новым революционным методом по лечению целлюлита, позволяющим максимально эффективно проводить моделирование тела. По словам его разработчиков, невероятный результат можно будет наблюдать уже после нескольких процедур.
                </p>
                <p>
                    Основывается методика на технологии компрессионной микровибрации, создаваемой специальными вращающимися сферами из силикона. Именно благодаря такой микровибрации в теле человека начинается активная микроциркуляция крови. Как следствие происходит улучшение клеточного питания кожи, а также мышечной ткани. После нескольких процедур начинается процесс уменьшения объемов прослойки жира.
                </p>
                <p>   
                    В клетках, которые накапливают жир, значительно улучшается процесс обмена веществ. Так как частота вибрации сфер прибора совпадает с вибрацией жировых клеток, то значительно возрастает скорость уменьшения прослойки жира.
                </p>

                <h2>
                    Простая и безболезненная процедура!
                </h2>

                <p>
                    Уникальная методика «Эндосфера терапия» позволяет добиться желаемого результата без хирургического вмешательства, приема каких-либо медицинских средств или тяжелых и изнурительных для организма физических упражнений. Важной особенностью этого метода является то, что он работает не только в тех местах, где есть целлюлит, но и обеспечивает уменьшение объема всего тела.
                </p>
                <p> 
                    Вращаясь с определенной частотой, сферы создают особые вибрации, которые разрушительно влияют на фиброзные стенки, удерживающие клетки с жиром. Важно отметить, что такая процедура подбирается индивидуально для каждого человека. Ее действие может быть направлено на различные проблемные зоны для достижения еще более высокого эффекта. При этом прибор работает без какого-либо вреда для здоровья человека.
                </p>
                <p>   
                    Рекомендуемый курс применения методики борьбы с целлюлитом «Эндосфера терапия» составляет от шести до двенадцати процедур, при этом каждая из них проводится два-три раза в неделю в зависимости от того, насколько сильно проявилось заболевание. Тем не менее заметные изменения вы сможете наблюдать уже после первых нескольких сеансов.
                </p>
            
                <h2>
                    В чем заключается разница между данной методикой и LPG?
                </h2>
                <p>
                    Метод борьбы с целлюлитом «Эндосфера терапия» имеет существенные отличия от LPG (вакуумного всасывания кожи). Важно отметить, что при неправильном использовании вакуумная техника может привести к существенному растягиванию кожи. Кроме того, ее можно применять далеко не для всех участков тела. Что касается методики «Эндосфера терапия», то она не имеет столь жестких ограничений, а кроме того, способствует повышению упругости и подтянутости кожи.
                </p>
                <p>
                    Тот факт, что при проведении такой процедуры отсутствует необходимость в использовании костюма, дает возможность мастеру просматривать абсолютно все участки тела, а также видеть расположение сосудов и вен. Важно отметить, что нет смысл в том, чтобы чередовать методики «Эндосфера терапия» и LPG, так как обе они основываются на технологии лимфодренажа.
                </p>

                <h2>
                    С какого возраста можно проходить данную процедуру?
                </h2>
                <p>
                    Методика по борьбе с целлюлитом «Эндосфера терапия» не имеет никаких ограничений по возрасту.
                </p>

                <h2>
                    Что нужно знать о минимальном курсе лечения и количестве процедур за одну неделю?
                </h2>
                <p>
                    Для того чтобы методика дала заметный эффект, минимальный курс должен составлять от шести до двенадцати процедур. Оптимальное количество – восемь раз в месяц.
                </p>

                <h2>
                    Какова длительность одной процедуры по методике «Эндосфера терапия»?
                </h2>
                <p>
                    Процедура по телу длится 1 час 15 минут.
                </p>

                <h2>
                    Через сколько процедур будет заметен результат?
                </h2>
                <p>
                    Эффект терапии можно заметить после 1-ой процедуры. Это терапевтический эффект (мощный дренаж и улучшенная микроциркуляция) и эстетический эффект. Результат гладкая и подтянутая кожа, благодаря пилингу сферами, лёгкость в ногах, общая «компактность» и подтянутость. Далее — все зависит от состояния пациента, среднестатистический пациент нуждается в курсе из 12 процедур в среднем.
                </p>

                <h2>
                    Поможет ли терапия при фиброзной стадии целлюлита?
                </h2>
                <p>
                    Endospheres Therapy это единственный в мире аппарат, который может различить зоны фиброзного целлюлита и подобрать оптимальную мощность. При курсе лечения, минимум 12 процедур, исчезает болезненность при фиброзной стадии целлюлита, а также исчезает «апельсиновая корка».
                </p>








        </span>
    </div>
</div>                

<div class='row'>
    {% if __root.page_text != "" %}
        <div class='col xs-8 xs-l-2'>
            {{ __root.page_text | raw }}
        </div>
    {% endif %}
</div>
<div class='row'>
    {% if __root.page_text_2 != "" %}
        <div class='col xs-8 xs-l-2'>
            <div class='base-text'>
                {{ __root.page_text_2 | raw }}
            </div>
        </div>
    {% endif %}
</div>
{% include 'components/footer.twig' with {"__scope":footer} %}
