$black: #1a1a1a;
$white: #fff;
$assertive: #d0021b;
$balanced: #5a2a00;
$light: #fae6b2;
$gray-brown: #534334;
$light-grey: #84786D;
$dark-brown: #2e241b;
$purple: #eec6db;
$pink: #fdc2ce;
$lilac: #9671d2;
